[Unit]
Description=Slacky Manager Slack bot for ditributing laboratory works in Cbeer'
After=network.target

[Service]
EnvironmentFile=/etc/slackymanager.conf
ExecStart=/usr/bin/slackymanager
User=slackbot
Restart=always
Type=simple
